.cartContainer {
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .emptyCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      margin-top: 60px;
    }
    a {
      margin-top: 50px;
      background-color: brown;
      color: white;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 30px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
.totalCart {
  margin-top: 40px;
  font-size: 1.8rem;
  font-weight: 900;
  border-bottom: 3px solid brown;
}

.cartButtons {
  margin-top: 51px;
  gap: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  font-size: 1.6rem;
  padding: 10px 20px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}