.checkoutContainer {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buyerData {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .buyer-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            legend {
                margin-bottom: 20px;
            }
            .buyer-input {
                width: 400px;
                font-size: 14px;
                padding: 8px 16px;
                border: 2px solid rgba(165, 42, 42, 0.5);
                border-radius: 5px;
                margin-bottom: 16px;
    
                &:focus{
                    outline: none;
                    border: 2px solid rgba(165, 42, 42, 1);
                }
            }
        }

        .dataButtons {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 340px;

            button, a {
                background-color: rgb(60, 139, 60);
                color: white;
                font-size: 1.6rem;
                font-family: 'Roboto', sans-serif;
                padding: 10px 20px;
                &:hover {
                    opacity: 0.9;
                }
            }
            a {
                background-color: brown;
                line-height: 1.2;
            }
        }
    }

    .finalizar-compra {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        ul {
            padding: 10px;
            li {
                font-family: 'Roboto', sans-serif;
                list-style: none;
            }
        }
        .dataButtons {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 340px;

            button {
                background-color: brown;
                color: white;
                font-size: 1.6rem;
                font-family: 'Roboto', sans-serif;
                padding: 10px 20px;

                &:last-of-type {
                    background-color: rgb(60, 139, 60);
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
        span {
            font-weight: 700
        }
    }
}