.container-detail {
  border: 1px solid rgba(176, 176, 176, 0.543);
  width: 404px;
  justify-content: center;
  text-align: center;
}

.Title {
  font-weight: 600;
  padding-top: 20%;
  text-align: center;
}

.descripcion {
  text-align: justify;
  margin-top: 20px;
  padding: 0px 5px;
}

.pricee {
  color: black;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
}
/* MEDIAAA */

@media screen and (max-width: 780px) {
  .descripcion {
    font-size: 1.1rem;
  }

  .pricee {
    color: black;
    font-size: 2rem;
  }
  .container-detail {
    background-color: white;
    margin-top: 10px;
    width: 400px;
    text-align: center;
    justify-content: center;
  }

  .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: black;
  }

  .descripcion {
    color: black;
    text-align: start;
    margin-top: 20px;
    text-align:justify;
  }
}
